@using WarehouseSystemAnalyst.Components.Model;
@typeparam TItem

<table class="table table-responsive-lg">
    <thead class="thead-light">
        <tr>

        </tr>
    </thead>

    <tbody>
        <tr>

        </tr>
    </tbody>
</table>

@code {
    [Parameter] public List<TItem> DataItems { get; set; }
    [Parameter] public List<ColumnDefinition> Columns { get; set; }

}