@page "/products"
@using Syncfusion.Blazor.Grids
@using WarehouseSystemAnalyst.Mediator.Dtos.ProductDtos
@using WarehouseSystemAnalyst.BlazorUI.Client.ClientService

@inherits BaseComponent
@inject ClientRepository<ProductDto> client

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="@GridData" Toolbar="@(new List<string>() { "Add", "Delete", "Update", "Cancel" })" AllowPaging="true">
                <GridEditSettings AllowAdding="true" AllowDeleting="true" AllowEditing="true" Mode="EditMode.Batch"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field=@nameof(ProductDto.PK) HeaderText="Order ID" IsPrimaryKey="true"  TextAlign="TextAlign.Right" Width="140"></GridColumn>
                    <GridColumn Field=@nameof(ProductDto.ProductName) HeaderText="Customer Name" Width="150"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
@code{
    public List<ProductDto> GridData { get; set; }
    protected override async Task OnInitializedAsync()
    {
        client.ControllerName = "api/products";
        var result = await client.GetAllAsync();
        GridData = result.Object;
    }
}