<div class="top_menu">
    <div class="logo">
        <NavLink href="" Match="NavLinkMatch.All">
            <span class="icon"><i class="fas fa-home"></i></span>
            <span class="title">Home</span>
        </NavLink>
    </div>
    <ul>
        <li>
            <a href="#">
                <i class="fas fa-search"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-bell"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-user"></i>
            </a>
        </li>
    </ul>
</div>

@code{

}