.ul-list .ul-list-item ::deep a {
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

    .ul-list .ul-list-item ::deep a:before {
    }

.ul-list .ul-list-item ::deep a {
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

    .ul-list .ul-list-item ::deep a:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background: #92a6e2;
        display: none;
    }

    .ul-list .ul-list-item ::deep a span.icon {
        margin-right: 10px;
        display: inline-block;
    }

    .ul-list .ul-list-item ::deep a span.title {
        display: inline-block;
    }

    .ul-list .ul-list-item ::deep a:hover,
    .ul-list .ul-list-item ::deep a.active {
        background: #4360b5;
        color: #fff;
    }

        .ul-list .ul-list-item ::deep a:hover:before,
        .ul-list .ul-list-item ::deep a.active:before {
            display: block;
        }
