<ul class="ul-list">
    <li class="ul-list-item">
        <a href="#">
            <span class="icon"><i class="fas fa-leaf"></i></span>
            <span class="title">Nature</span>
        </a>
    </li>

    <li class="ul-list-item">
        <NavLink href="counter">
            <span class="icon"><i class="fas fa-book"></i></span>
            <span class="title">Books</span>
        </NavLink>
    </li>
    <li class="ul-list-item">
        <NavLink href="sidebar">
            <span class="icon"><i class="fas fa-file-video"></i></span>
            <span class="title">Movies</span>
        </NavLink>
    </li>
    <li class="ul-list-item">
        <NavLink href="sidebar">
            <span class="icon"><i class="fas fa-volleyball-ball"></i></span>
            <span class="title">Sports</span>
        </NavLink>
    </li>
    <li class="ul-list-item">
        <NavLink href="layoutComponent">
            <span class="icon"><i class="fas fa-blog"></i></span>
            <span class="title">Blogs</span>
        </NavLink>
    </li>
    <li class="ul-list-item">
        <NavLink href="layoutComponent">
            <span class="icon"><i class="fas fa-leaf"></i></span>
            <span class="title">Nature</span>
        </NavLink>
    </li>
</ul>

@code {

}